
@import 'semantic-ui-css/semantic.min.css';
@import './pages/homepage/homepage.styles.scss';
@import './pages/sign-in-and-sign-up/sign-in-and-sign-up.styles.scss';

@import './components//directory/directory.styles.scss';
@import './components/menu-item/menu-item.styles.scss';
@import './components/preview-collection/collection-preview.styles.scss';
@import './components//collection-item//collection-item.styles.scss';
@import './components/header/header.styles.scss';
@import './components/form-input/form-input.styles.scss';
@import './components/sign-in/sign-in.styles.scss';
@import './components/sign-up/sign-up.styles.scss';
@import './components/custom-button/custom-button.styles.scss';
@import './components/dropdownImageTrigger/dropdownImageTrigger.styles.scss';
@import './components/cart-icon/cart-icon.styles.scss';
@import './components/cart-dropdown/cart-dropdown.styles.scss';
@import './components/cart-item/cart-item.styles.scss';
body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px !important;
}
a {
  text-decoration: none !important;
  color: black !important; 
}
*{
  box-sizing: border-box !important;
}